// Header
#page-top
header.masthead
	.container
		.intro-text
			.intro-lead-in
			#pageNotFound
			a(href="#{url}" title="Go to homepage") Go to homepage
			.intro-heading.text-uppercase Page not found
