script(src='/javascripts/jquery/jquery-3.4.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/vendor/jquery-easing/jquery.easing.min.js')
script(src='/javascripts/agency/jqBootstrapValidation.js')
script(src='/javascripts/agency/contact_me.js')
script(src='/javascripts/agency/agency.min.js')