doctype html
html
  include basic_layout/head
body
  include page_layout/404/navigation
  include page_layout/404/messagePageNotFound
  include page_layout/contact
  include page_layout/footer
include basic_layout/scripts