doctype html
html
  include basic_layout/head
body
  include page_layout/navigation
  include page_layout/header
  include page_layout/services
  include page_layout/portfolio_grid
  include page_layout/about
  include page_layout/team
  include page_layout/contact
  include page_layout/footer
  include page_layout/portfolio_modals
    block content
include basic_layout/scripts