// Clients
section.py-5
	.container
		.row
			.col-md-3.col-sm-6
				a(href='#')
					img.img-fluid.d-block.mx-auto(src='/images/agency/logos/envato.jpg', alt='')
			.col-md-3.col-sm-6
				a(href='#')
					img.img-fluid.d-block.mx-auto(src='/images/agency/logos/designmodo.jpg', alt='')
			.col-md-3.col-sm-6
				a(href='#')
					img.img-fluid.d-block.mx-auto(src='/images/agency/logos/themeforest.jpg', alt='')
			.col-md-3.col-sm-6
				a(href='#')
					img.img-fluid.d-block.mx-auto(src='/images/agency/logos/creative-market.jpg', alt='')
