// Footer
footer.footer
	.container
		.row.align-items-center
			.col-md-4
				span.copyright Copyright © Olavo Alexandrino websites 2020
			.col-md-4
				ul.list-inline.social-buttons
					li.list-inline-item
						a(href='https://twitter.com/oalexandrino' title='Twitter of the developer' target='_blank')
							i.fab.fa-twitter
					li.list-inline-item
						a(href='https://www.facebook.com/olavo.alexandrino' title='Facebook of the developer' target='_blank')
							i.fab.fa-facebook-f
					li.list-inline-item
						a(href='https://www.linkedin.com/in/oalexandrino/' title='Linkedin of the developer' target='_blank')
							i.fab.fa-linkedin-in
					li.list-inline-item
						a(href='https://github.com/oalexandrino' title='Github of the developer' target='_blank')
							i.fab.fa-git
			.col-md-4
				ul.list-inline.quicklinks
					li.list-inline-item
						a(href='#') Privacy Policy
					li.list-inline-item
						a(href='#') Terms of Use
