// Header
#page-top
header.masthead
	.container
		.intro-text
			.intro-lead-in= homePageData[7].config[0].site_title
			.intro-heading.text-uppercase= homePageData[7].config[0].site_headline
			a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services')= homePageData[7].config[0].link_site
