// Team
section#team.bg-light.page-section
	.container
		.row
			.col-lg-12.text-center
				h2.section-heading.text-uppercase Our Amazing Team
				h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
		.row
			.col-sm-4
			if homePageData[0].team[0].members
				each member in homePageData[0].team[0].members
					.team-member
						img.mx-auto.rounded-circle(src='/images/agency/team/1.jpg', alt='')
						h4= member.name
						p.text-muted= member.role
						ul.list-inline.social-buttons
							li.list-inline-item
								a(href='#')
									i.fab.fa-twitter
							li.list-inline-item
								a(href='#')
									i.fab.fa-facebook-f
							li.list-inline-item
								a(href='#')
									i.fab.fa-linkedin-in
		.row
			.col-lg-8.mx-auto.text-center
				p.large.text-muted
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
